@page
@{
    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "React Notes";
}
<div id="react-map-app"></div>
@section scripts
    {
    <environment names="Development">
        <script src="~/dist/react-map.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/react-map.js" asp-append-version="true"></script>
    </environment>
}
