.container {

 
    display: flex;
    flex-direction: column;
    width: 60% !important;
    height: 100%;
    z-index: -1;
    text-align: right;
    position: static !important;
    
    
}

.position-relative.div.div {
    position: relative !important;
}

#dockerId{
    background-color: red;
}

.mapWrapper{
    align-content: right;
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    z-index: inherit;
    overflow: visible;
  
    
}

#expandDiv{
    z-index: 50;   
}

ul{
    white-space: nowrap
}

.searchResults{
    border: 5px thick black;
    margin: 1rem;
    text-decoration: underline;
}

.arrows:hover{
    cursor:pointer
}

.searchBar{
    width: 100%;
}
